@charset "windows-1251";

body
{
 background-color: #c7b39b;	
 margin:3% 45% 3% 3%; 
 font-family: Times New Roman;
 font-size:12pt;
 text-align:left;
line-height: 2; 
} 

h1 
{
	text-align:left; 
	font-size: 20pt;
	font-weight:bold;
}

h2
{
	font-size: 18pt;
	font-weight:bold;
}

fieldset
{
	border: maroon solid;
	padding:6px;
}
legend
{
	font-weight:bold;
	font-family: Arial;
	font-size:14pt;
	
}

li 
{
    list-style-type: none; 
}

ul
 {
    margin-left: 0; 
    padding-left: 0; 
}

ul.abc
{
	font-size: 10pt;
}

label.bold
{
	font-weight:bold;
}

label.obl
{
	font-style:oblique;
}
input.before
{
	color:grey;
	size:100;
}



